<div class="row font-noto-sans">

    <!-- Card Jumlah -->
    <div class="col-lg-12 col-md-12 col-sm-12 mb-2">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 mb-2">
                <div class="card">
                    <div class="card-header bg-blue">
                        <p class="card-title mb-0">Jumlah Berita</p>
                    </div>
                    <div class="card-body">

                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 mb-2">
                <div class="card">
                    <div class="card-header bg-blue">
                        <p class="card-title mb-0">Jumlah Iklan</p>
                    </div>
                    <div class="card-body">

                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 mb-2">
                <div class="card">
                    <div class="card-header bg-blue">
                        <p class="card-title mb-0">Jumlah Popular Posts</p>
                    </div>
                    <div class="card-body">

                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 mb-2">
                <div class="card">
                    <div class="card-header bg-blue">
                        <p class="card-title mb-0">Jumlah Visitor</p>
                    </div>
                    <div class="card-body">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>