<section id="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12" id="portal-media">
                <h5 class="font-roboto-slab mb-3">PORTAL MEDIA</h5>
                <p class="font-noto-sans">
                    About text goes here. Describe our site to our visitors, whatever you write. Just write
                </p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 px-4" id="recent-posts">
                <div class="col-lg-12 col-md-12 col-sm-12 mb-2">
                    <h5 class="font-roboto-slab">Berita Terpopuler</h5>
                </div>
                <app-recent-post [isTransparent]="true" [isFooter]="true"></app-recent-post>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12" id="tags">
                <h5 class="font-roboto-slab">Tags</h5>
                <span class="badge rounded-pill bg-light text-dark">Adventure</span>
                <span class="badge rounded-pill bg-light text-dark">Advice</span>
                <span class="badge rounded-pill bg-light text-dark">Creativity</span>
                <span class="badge rounded-pill bg-light text-dark">Habit</span>
                <span class="badge rounded-pill bg-light text-dark">Health</span>
                <span class="badge rounded-pill bg-light text-dark">Movie</span>
                <span class="badge rounded-pill bg-light text-dark">Music</span>
                <span class="badge rounded-pill bg-light text-dark">Podcast</span>
                <span class="badge rounded-pill bg-light text-dark">Streaming</span>
                <span class="badge rounded-pill bg-light text-dark">World</span>
            </div>
        </div>
    </div>
</section>